body {
	text-align: center;
}
div#desc pre {
		font-size: 2em;
}
div.t {
    float: left;
}
div.clear {
    overflow: auto;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
table.info {
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
}

table.info td {
	text-align: left;
}

img.wid {
	max-width: 100%;
}

#img {
	margin: auto;
	position: relative;
}

#img .exp div {
	padding: 1px;
	background-color: rgba(224,224,255,0.8);
	font-weight: bold;
}

#desc {
	display: inline-block;
	max-width: 72em;
  margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border: thin solid black;
	background: #eee;
	text-align: justify;
}

div#thumbs {
	width: 98vw; /* 100 causes a useless horizontal scroll bar */
	clear: both;
	overflow: auto;
	margin: auto;
}

.thumb img {
	width: 11.5vw;
	white-space: nowrap;
}

.thumb {
	position: relative;
	display: inline-block;
}

.thumb span.taghi {
	position: absolute;
	left: 9vw;
	top: 9vw;
	width: 1vw;
	background-color: rgba(200,100,255,0.3);
	display: none;
}

.comic {
	border: solid #0F0;
}

.thumb.comic span.taghi {
	background-color: rgba(255,255,100,0.3);
}

.thumb:hover span.taghi {
	display: inline;
}

.spoiler {
	color: black;
	background-color: black;
}
